@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json

@page "/"


<Breadcrumb>
    <BreadcrumbItem>
        <BreadcrumbLink To="">Startseite</BreadcrumbLink>
    </BreadcrumbItem>
</Breadcrumb>

<Row>
    <Column Margin="Margin.Is2.FromTop">
        <Text Class="text-center">
            <h2>Jahreshauptversammlung DLRG Bezirk Dresden e. V. - Online Anmeldung</h2>
        </Text>

        <Card>
            <CardBody>
                <CardText>
                    <Text>
                        Aufgrund der Coronaviruspandemie, wir die diesjährige Jahreshauptversammlung der DLRG Dresden
                        als Online Event stattfinden.
                        Um einen korrekten Ablauf der Veranstaltung gewährleisten zu können müssen nun zusätzliche Tools
                        für Abstimmung und Konferenz bereitgestellt werden.
                        Daher wird die Anmeldung zur Jahreshauptversammlung auch erstmalig online und automatisiert
                        stattfinden.
                        In den folgenden Abschnitten finden Sie alle weitere benötigten Informationen zur diesjährigen
                        Veranstaltung inkl. dem Anmeldeformular.
                    </Text>
                </CardText>
            </CardBody>
        </Card>
    </Column>
</Row>

<Row>
    <Column>
        <Card Margin="Margin.Is4.FromBottom.Is2.FromTop">
            <CardBody TextAlignment="TextAlignment.Center">
                @if (metaInformation.IsLoaded == false)
                {
                    <Loader />
                }
                else
                {
                    @if (metaInformation.IsRegistrationDeadlineReached)
                    {
                        <Alert Color="Color.Danger" Visible="true">
                            <AlertDescription Class="text-center">
                                Anmeldungen zur Jahreshauptversammlung sind nicht mehr
                                möglich!
                            </AlertDescription>
                        </Alert>
                    }
                    @if (!metaInformation.IsRegistrationStartReached)
                    {
                        <Alert Color="Color.Danger" Visible="true">
                            <AlertDescription Class="text-center">
                                Anmeldungen zur Jahreshauptversammlung sind noch nicht
                                möglich! Anmeldungen werden ab dem @metaInformation.RegistrationStart.ToString("dd.MM.yyyy") möglich sein. 
                            </AlertDescription>
                        </Alert>
                    }

                    @if (metaInformation.IsRegistrationStartReached &&
                        !metaInformation.IsRegistrationDeadlineReached)
                    {
                        <CardText>
                            <Alert Color="Color.Success" Visible="true">
                                <AlertDescription Class="text-center">
                                    Anmeldungen zur Jahreshauptversammlung sind noch möglich!
                                </AlertDescription>
                            </Alert>
                            <Text Class="text-center" style="font-weight:700">
                                Der Anmeldeschluss ist der: @Deadline
                                <br />
                                <Button Color="Color.Primary" Type="ButtonType.Link" To="/registration">Zur Anmeldung!</Button>
                            </Text>
                        </CardText>
                    }
                }
            </CardBody>
        </Card>
    </Column>
</Row>
<Row>
    <Column>
        <Card Margin="Margin.Is4.FromBottom.Is4.FromTop">
            <CardBody>
                <CardText>
                    <h3>Allgemeine Informationen</h3>
                    <Paragraph>
                        Anmeldeschluss: @metaInformation.RegistrationDeadline.ToString("dd.MM.yyyy")
                    </Paragraph>
                </CardText>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {

    MetadataInformation metaInformation = new MetadataInformation();

    string Deadline;
    protected override async Task OnInitializedAsync()
    {
        metaInformation = await GetMetaInformation();
        Deadline = metaInformation.RegistrationDeadline.ToString("dd.MM.yyyy");
    }




    private async Task<MetadataInformation> GetMetaInformation()
    {
        var response = await Http.GetFromJsonAsync<MetadataInformation>("EventMetadataFunction");
        response.IsLoaded = true;
        response.IsRegistrationDeadlineReached = GetIsDeadlineReached(response.RegistrationDeadline);
        response.IsRegistrationStartReached = IsRegistrationStartReached(response.RegistrationStart);
        return response;
    }

    private bool IsRegistrationStartReached(DateTime firstDate)
    {
        if (DateTime.Compare(firstDate, DateTime.Now) <= 0)
        {

            return true;
        }

        return false;
    }

    private bool GetIsDeadlineReached(DateTime firstDate)
    {
        if (DateTime.Compare(firstDate, DateTime.Now) < 0)
        {
            return true;
        }
        return false;
    }

}
