<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        </Found>
        <NotFound>
            <p>Das konnte leider nicht gefunden werden</p>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code{
    private Theme theme = Dlrgdd.RegistrationTool.Frontend.Themes.DlrgTheme.MainTheme;
}